@charset "UTF-8";
.info_maincontent{
	width: 1200px;
	height: 80%;
	text-align: center;
	margin: 0 auto;
	
}

.login, .signup{
	padding: 50px 20px;
	font-size: 20px;
	
}
.login{position:absolute; right: 10%;         }  .signup{position:absolute; right: 0%}

.infocontent{
	
	text-align: center;
	width:1100px;
	height: 30%;
	
}
.infocontent div{margin-bottom: 20px;font-size: 30px;}
.infocontent h1{
	color: #ccc;
	font-size: 50px;
}
.infocontent span{
	
	color: red;
	
}