@charset "UTF-8";

.container{
	font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
	overflow: auto;
	scroll-snap-type: y;
	scroll-snap-type: y mandatory; /* y축 스크롤스냅 적용*/
	height: 100vh;
}

section{
	scroll-snap-align: start; /* 스크롤 멈추는 지점 */
	height: 100vh;				/* vh : 뷰포트 높이 */
	background-size: cover;		/* 화면의 비율 유지 -> 전체 화면 채우기 */
	background-position: center center; /* 가로 세로 정렬 */
	background-repeat: no-repeat; /* 자동 채우기 제거 */
}
.m3{background-image: url("webimg/m3.png");
	height: 100vh;				/* vh : 뷰포트 높이 */
	background-size: cover;		/* 화면의 비율 유지 -> 전체 화면 채우기 */
	background-position: center center; /* 가로 세로 정렬 */
	background-repeat: no-repeat; /* 자동 채우기 제거 */
}
.my{background-image: url("webimg/my.png");
	height: 100vh;				/* vh : 뷰포트 높이 */
	background-size: cover;		/* 화면의 비율 유지 -> 전체 화면 채우기 */
	background-position: center center; /* 가로 세로 정렬 */
	background-repeat: no-repeat; /* 자동 채우기 제거 */
}
.mx{background-image: url("webimg/mx.png");
	height: 100vh;				/* vh : 뷰포트 높이 */
	background-size: cover;		/* 화면의 비율 유지 -> 전체 화면 채우기 */
	background-position: center center; /* 가로 세로 정렬 */
	background-repeat: no-repeat; /* 자동 채우기 제거 */
}
.ms{background-image: url("webimg/ms.png");
	height: 100vh;				/* vh : 뷰포트 높이 */
	background-size: cover;		/* 화면의 비율 유지 -> 전체 화면 채우기 */
	background-position: center center; /* 가로 세로 정렬 */
	background-repeat: no-repeat; /* 자동 채우기 제거 */
}

h3{font-size: 75px;
	text-align : center;
	color: white;
	height: 735px;
}

p{
	font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
	color: white;
	line-height: 30px;
	text-align: center;
	font-size: 20px;
}
img{
	width: 90px;
	position: fixed;
	margin: 45px;
}
