@charset "UTF-8";
*{box-sizing: border-box;background-color: black; color: white; }
a{text-decoration: none;
background-color: transparent;}
li{
   list-style: none;
   margin-bottom: 2rem;
}
p{font-size: 1.5rem; padding-left: 1.5rem;}
span{
   font-size: 1.5rem
}
.logo img{
   width: 110%;
   height: 100%;
}
.container{
   width: 1500px;
   margin: 0 auto;
   height: 1700px;
}
.headerbox{
   position: relative;
   display: flex;
   justify-content: space-between;
   height: 10%;
   border-bottom: 2px solid #eee;
}

.login, .signup{
	padding: 50px 20px;
	font-size: 20px;
	
}
.login{position:absolute; right: 10%;         }  .signup{position:absolute; right: 0%}
/* ----------------------헤더----------------------------- */
.menu{float: left; width: 250px; height: 75%;border-right: solid #eee 3px; margin: 2rem 2rem 0 0;}
.menu_list{height: 90%; font-size: 20px;}
.menu_list a:hover{background-color: #eeeeee; color: black;   }
/* ------------------------------------------------메뉴-------------------------- */
.loginsafe{
	background-color: transparent;
	margin: 30px;
}
.loginsafe input{
	width: 15px;
	height: 15px;
}
.log, .next{
	display: flex;
	justify-content: center;
	border: 0;
	background-color: transparent;
	
}
.log h4{
	margin: 10px;
	background-color: transparent;
	border: 0 solid none;
}
 
.menu{
	float: left; width: 250px; height: 85%;
	
}


.menu_list a:hover{
	background-color: #eeeeee;
	color: black;
	
}
.main_content{
	 display: flex; flex-direction: column; 
	
}
.img1{
	margin: 0 auto;
	width: 200px;
}

.main2{
	margin: 0 auto;
	border: 1px solid gray;
	border-radius: 10px; 
	background-color: #b6a5a5;;
}
.login1{
	text-align: center;
	background-color: transparent;
}
.cols{
	margin-right: 30px;
    background-color: transparent;
}
.cols1{
	margin:20px auto;
	height: 70px;
	width: 500px;
	padding: 15px;
	background-color: #A0A0A0;
	border-radius: 10px;
	border: 1px solid #dadada;
	
}
.cols1 input {
	outline:none;
	border: 0 solid;
	background-color: transparent;
	width: 300px;
	padding: 10px;
	margin-right: 60px;
	font-size: 20px;
	font-weight: 100;	
}


.login2{
	text-align: center;
    width: 400px;
    margin: 10px auto;
    background-color: #1f8b63;
	border-radius: 5px;
	
}	

-------------------------------하단 이미지----------------
.ma1{
     display: flex;
    justify-content: center;
    border: 5px solid white;
    border-radius: 10px;
    border-right: none;
    border-left: none;
    width: 1200px;
    margin : 0 auto;
    height: 500px;
    background-color: #dadada2b;

}

.bar1 h1{
	
	text-align: center;
    color: white;
	text-shadow: 20px -7px 7px grey;
}


.image {
    width: 300px;
    background-image: url(1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border:1px solid white;
    display: inline-block;
     border-radius:20px; 
    margin: 30px;
    height: 500px;
}
.image1 {
    width: 300px;
 	height:500px;
    background-image: url(2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border:1px solid white;
    display: inline-block;
     border-radius:20px; 
    margin: 30px;
}
.image2 {
    width: 300px;
      height:500px;
    background-image: url(4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border:1px solid white;
    display: inline-block;
     border-radius:20px; 
   margin: 30px;
}

.image ,.image1,.image2{
	 transition: all 0.2s linear;
	 margin: 50px;
}
.image:hover,.image1:hover,.image2:hover{
	 transform: scale(1.2);
}
MARQUEE {
    display: block;
    font-size: 40px;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
    margin: 20px;
    font-size: 3rem;
    font-weight: bold;
}
.parent {
    height: 3em; /* 애니메이션 높이 */
    overflow-y: hidden;
    display: block;
    margin: 15px;
}
.parent .child {
    font-size: 3em;/* 애니메이션 높이 */
    font-weight: bold;
    line-height: 1;
    animation-name: grow;
    animation-duration: 2s;/* 애니메이션 시간 */
    animation-iteration-count : infinite;
}
/* 키프레임 애니메이션 */
@keyframes grow {
    from { transform: translateY(3em) }/* 애니메이션 높이 */
    to { transform: translateY(0) }
}

/* -------------------------------본문-------------------------------- */


footer{
   clear: both;
   display: flex;
   justify-content: center;
   height: 10%;
   border-top: solid 3px #eee;
   
   
   
   
}
.info ,.tos{padding: 50px 20px;}


/* ----------------------------푸터---------------------------- */











