@charset "UTF-8";

.container{
	width: 1800px;
	height: 1440px;
	margin: 0 auto;
	border: solid 1px red;
	margin-top: 120px;
}
/*-------------------------------------------------------*/
header{
	width : 1200px;
	height: 300px;
	margin-bottom: 15px;
}
nav{
	height: 170px;
	margin-bottom: 25px;
}
section{
	height: 300px;
}
/*----------------------------- 찜목록 -----------------------------*/

.heart_main{
	width: 83px;
    height: 170px;
    border: solid 1px black;
    display: inline-block;
}
.heart1 , .heart2 , .heart3 , .heart4{
	width: 269px;
	height: 170px;
	border: solid 1px black;
	display: inline-block;
/*-----------------------------애니매이션-----------------------------*/
}
.animation1 , .animation2 , .animation3 , .animation4{
	width: 292px;
	height: 250px;
	border: solid 1px black;
	display: inline-block;
}
/*----------------------------- 코미디 -----------------------------*/
.comedy1 , .comedy2 , .comedy3 , .comedy4{
	width: 292px;
	height: 250px;
	border: solid 1px black;
	display: inline-block;
}
/*----------------------------- SF -----------------------------*/
.sf1 , .sf2 , .sf3 , .sf4{
	width: 292px;
	height: 250px;
	border: solid 1px black;
	display: inline-block;
}
/*-----------------------------헤더메인이미지------------------------*/

.img{
	width: 293px;
	height: 300px;
	display: inline-block;
	border: solid white;
}

.image {
    width: 393px;
    height: 298px;
    background-image: url(img/1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border:1px solid black;
    display: inline-block;
}
.image1 {
    width: 393px;
    height: 298px;
    background-image: url(img/2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border:1px solid black;
    display: inline-block;
}
.image2 {
    width: 393px;
    height: 298px;
    background-image: url(img/3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border:1px solid black;
    display: inline-block;
}

.movie_img{
	width: 140px;
	height: 301px;
	margin-bottom: 10px;
	border: 1px solid black;
}
/*-----------------------------  -----------------------------*/

.test{
    padding: 50px;
    border: 1px solid black;
    padding-bottom: 173px;
    background-size: 100%;
    margin: 40px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.test1{
    padding: 50px;
    border: 1px solid black;
    padding-bottom: 105px;
    background-size: 100%;
    margin: 5px;
    
}

