	@charset "UTF-8";
/*
	식별자{ 속성 = 값 }
		0. * 		*{ }		: 모든 곳에 적용
		1. class	.클래스명{}	: 해당 클래스
		2. id		#id{}		: 해당 id
		3. name		
		4. 태그명
	하위 식별자 [ 띄어쓰기 ]
		식별자 하위식별자 {    }	
	복수 식별자선택
		식별자 , 식별자 , 식별자 {    }
	하위 식별자 선택
		식별자 : nth-child( n )		: 복수 하위 식별자 중 n 번째 식별자 선택
*/

@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{	/* 기본값 제거 */
	margin: 0 px;
	padding: 0 px;
	text-decoration: none; 	/* 밑줄 제거 */
	list-style: none;		/* 글 머리 */
	color: black;			/* 폰트 */
	font-family: "맑은 고딕";
}
.webbox{
	width: 1200px; 		/* 가로 길이*/
	margin: 0 auto;		/* 박스 가운데 정렬 */

}
/*-------------------------------상단 헤더------------------------------------*/

.hd_top{
	display: flex;
	justify-content: space-between;
	margin: 10px 0px 20px 0px; /*위 오른쪽 아래쪽 왼쪽*/
}

.hd_sub{
	display: flex;
	font-size : 12px;
	align-content: center;
}
.hd_sub li{margin-left: 20px;}
.hd_title a{font-family: "KOTRAHOPE"; font-size: 40px;}

/*-------------------------------하단 헤더-------------------------------------*/
.hd_menu{display: flex; justify-content: space-between;}

.searchbox input{ border: none;} /* 테두리 제거 */
.searchbox span{border-bottom: solid 1px black; margin: 0px 20px 0px 50px;}
.fa-search , .fa-shopping-cart{font-size: 20px;}

.hd_menu li:nth-child(1) a { color : red; font-weight: bold;}
.hd_menu li:nth-child(2) a { color : orange; font-weight: bold;}
.hd_menu li:nth-child(3) a { color : yellow; font-weight: bold;}
.hd_menu li:nth-child(4) a { color : green; font-weight: bold;}
.hd_menu li:nth-child(5) a { color : blue; font-weight: bold;}
.hd_menu li:nth-child(6) a { color : navy; font-weight: bold;}
.hd_menu li:nth-child(7) a { color : purple; font-weight: bold;}

#signupbox{
	margin-top : 300px;
	text-align: center;
}

#loginbox{
	margin-top : 300px;
	text-align: center;
}

#findidbox{
	margin-top : 300px;
	text-align: center;
}

#findpasswordbox{
	margin-top : 300px;
	text-align: center;
}


#sample4_roadAddress , #sample4_jibunAddress , #sample4_detailAddress{
	width:200px;
}











