@charset "UTF-8";
*{box-sizing: border-box;background-color: black; color: white; }
a{text-decoration: none;}
li{
	list-style: none;
	margin-bottom: 2rem;
}

p{font-size: 1.5rem; padding-left: 1.5rem;}
span{
	font-size: 1.5rem
}
.logo img{
	width: 110%;
	height: 100%;
}
.container{
	width: 1500px;
	margin: 0 auto;
	height: 1700px;
}
.headerbox{
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 10%;
	border-bottom: 2px solid #eee;
}

.login{
	padding: 50px 20px;
	font-size: 20px;
	
}
/* ----------------------헤더----------------------------- */
.menu{float: left; width: 250px; height: 75%;border-right: solid #eee 3px; margin: 2rem 2rem 0 0;}
.menu_list{height: 90%; font-size: 20px;}
.menu_list a:hover{background-color: #eeeeee; color: black;	}
/* ------------------------------------------------메뉴-------------------------- */
header{text-align: center; margin-top: 32px;}
	.p1 {
	    width: 393px;
	    height: 298px;
	    background-image: url(img/popular/p1.jpg);
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: center;
	    border:1px solid white;
	    display: inline-block;
	    border-radius: 25px;
	    }
	.p2{
	    width: 393px;
	    height: 298px;
	    background-image: url(img/popular/p2.jpg);
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: center;
	    border:1px solid white;
	    display: inline-block;
	    border-radius: 25px;}
	.p3{
	    width: 393px;
	    height: 298px;
	    background-image: url(img/popular/p3.jpg);
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: center;
	    border:1px solid white;
	    display: inline-block;
	    border-radius: 25px;}
/* header end */
/* nav start */
nav{text-align: center;}	
.heart_main{
	width: 83px;
    height: 170px;
    border: solid 1px white;
    display: inline-block;
    border-radius: 25px;
    background-image: url(img/12.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;}
.heart1 , .heart2 , .heart3 , .heart4{
	width: 269px;
	height: 170px;
	border: solid 1px white;
	display: inline-block;
	border-radius: 25px;}
.h1{
	background-image: url(img/heart/h1.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 25px;}
.h2{
	background-image: url(img/heart/h2.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 25px;}
.h3{
	background-image: url(img/heart/h3.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 25px;}
.h4{
	background-image: url(img/heart/h4.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 25px;}
/* nav end */
/* animation start */
section{text-align: center;}
.animation1 , .animation2 , .animation3 , .animation4{
	width: 292px;
	height: 250px;
	border: solid 1px white;
	display: inline-block;
	border-radius: 25px;}
	.a1{
	background-image: url(img/animation/a1.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 25px;
	background-position-x: right;}
	.a2{
	background-image: url(img/animation/a2.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 25px;
	background-position-x: right;}	
	.a3{
	background-image: url(img/animation/a3.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 25px;
	background-position-x: right;}	
	.a4{
	background-image: url(img/animation/a4.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 25px;
	background-position-x: right;}
/* animation end */
/* comedy start */
.comedy1 , .comedy2 , .comedy3 , .comedy4{
	width: 292px;
	height: 250px;
	border: solid 1px white;
	display: inline-block;
	border-radius: 25px;}
	.c1{
	background-image: url(img/comedy/c1.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 25px;}
	.c2{
	background-image: url(img/comedy/c2.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 25px;}	
	.c3{
	background-image: url(img/comedy/c3.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 25px;
	background-position-x: right;}	
	.c4{
	background-image: url(img/comedy/c4.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 25px;}
/* comedy end */
/* sf start */
.sf1 , .sf2 , .sf3 , .sf4{
	width: 292px;
	height: 250px;
	border: solid 1px white;
	display: inline-block;
	border-radius: 25px;}
	.s1{
	background-image: url(img/SF/s1.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 25px;
	background-position-x: right;}
	.s2{
	background-image: url(img/SF/s2.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 25px;
	background-position-x: left;}	
	.s3{
	background-image: url(img/SF/s3.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 25px;
	background-position-x: right;}	
	.s4{
	background-image: url(img/SF/s4.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;	
	border-radius: 25px;}
/* sf end */
/*inside img start*/
.a1 , .a2 , .a3 , .a4 ,
.c1 , .c2 , .c3 , .c4 ,
.s1 , .s2 , .s3 , .s4 {
    padding: 50px;
    border: 1px solid white;
    padding-bottom: 173px;
    background-size: cover;
    margin: 40px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.h1 , .h2 , .h3 , .h4{
	padding: 50px;
    border: 1px solid white;
    padding-bottom: 96px;
    background-size: cover;
    margin: 40px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
/* inside end */
.logo{
	background-image: url(4.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
}
.a1 , .a2 , .a3 , .a4 ,
.c1 , .c2 , .c3 , .c4 ,
.s1 , .s2 , .s3 , .s4 ,
.h1 , .h2 , .h3 , .h4 ,
.p1 , .p2 , .p3 , .p4{
  transition: all 0.2s linear;
}
.a1:hover , .a2:hover , .a3:hover , .a4:hover ,
.c1:hover , .c2:hover , .c3:hover , .c4:hover ,
.s1:hover , .s2:hover , .s3:hover , .s4:hover ,
.h1:hover , .h2:hover , .h3:hover , .h4:hover ,
.p1:hover , .p2:hover , .p3:hover , .p4:hover{
  transform: scale(1.2);
}
/* -------------------------------본문-------------------------------- */


footer{
	clear: both;
	display: flex;
	justify-content: center;
	height: 10%;
	border-top: solid 3px #eee;
	
	
	
	
}
.info ,.tos{padding: 50px 20px;}


/* ----------------------------푸터---------------------------- */
.heart_main{ content: '\f2b5'; }