@charset "UTF-8";
*{border: solid 1px red;box-sizing: border-box;background-color: black; color: white; }
a{text-decoration: none;}
li{list-style: none;margin-bottom: 2rem;}
p{font-size: 1.5rem;}
.container{width: 1500px;margin: 0 auto;height: 1500px;}
.headerbox{position: relative;display: flex;justify-content: space-between;height: 10%;}
.login{padding: 50px 20px;}
.menu{float: left; width: 250px; height: 80%;border: solid orange 3px; }
.menu_list{height: 95%;}
.menu_list a:hover{background-color: #eeeeee; color: black;	}
.main_content{float: right; width: 1200px; height: 80%; display: flex; flex-direction: column; justify-content: space-between; }
.posters{height: 60%; position: relative; display:flex;}
.poster{position: absolute; width:40%; height: 100%; left: 30%}
.popular{height: 20%;}
.popbox{display: flex; justify-content: space-around;}
.viewed{height: 20%}	
footer{
	clear: both;
	display: flex;
	justify-content: center;
	height: 10%;}
.info ,.tos{padding: 50px 20px;}

/* 태섭 css*/
/* header start */
header{text-align: center;}
	.p1 {
	    width: 393px;
	    height: 298px;
	    background-image: url(img2/popular/p1.jpg);
	    background-size: contain;
	    background-repeat: no-repeat;
	    background-position: center;
	    border:1px solid white;
	    display: inline-block;
	    border-radius: 25px;}
	.p2{
	    width: 393px;
	    height: 298px;
	    background-image: url(img2/popular/p2.jpg);
	    background-size: contain;
	    background-repeat: no-repeat;
	    background-position: center;
	    border:1px solid white;
	    display: inline-block;
	    border-radius: 25px;}
	.p3{
	    width: 393px;
	    height: 298px;
	    background-image: url(img2/popular/p3.jpg);
	    background-size: contain;
	    background-repeat: no-repeat;
	    background-position: center;
	    border:1px solid white;
	    display: inline-block;
	    border-radius: 25px;}
/* header end */
/* nav start */
nav{text-align: center;}	
.heart_main{
	width: 83px;
    height: 170px;
    border: solid 1px white;
    display: inline-block;
    border-radius: 25px;}
.heart1 , .heart2 , .heart3 , .heart4{
	width: 269px;
	height: 170px;
	border: solid 1px white;
	display: inline-block;
	border-radius: 25px;}
.h1{
	background-image: url(img2/heart/h1.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 25px;}
.h2{
	background-image: url(img2/heart/h2.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 25px;}
.h3{
	background-image: url(img2/heart/h3.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 25px;}
.h4{
	background-image: url(img2/heart/h4.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 25px;}
/* nav end */
/* animation start */
section{text-align: center;}
.animation1 , .animation2 , .animation3 , .animation4{
	width: 292px;
	height: 250px;
	border: solid 1px white;
	display: inline-block;
	border-radius: 25px;}
	.a1{
	background-image: url(img2/animation/a1.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 25px;}
	.a2{
	background-image: url(img2/animation/a2.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 25px;}	
	.a3{
	background-image: url(img2/animation/a3.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 25px;}	
	.a4{
	background-image: url(img2/animation/a4.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 25px;}
/* animation end */
/* comedy start */
.comedy1 , .comedy2 , .comedy3 , .comedy4{
	width: 292px;
	height: 250px;
	border: solid 1px white;
	display: inline-block;
	border-radius: 25px;}
	.c1{
	background-image: url(img2/comedy/c1.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 25px;}
	.c2{
	background-image: url(img2/comedy/c2.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 25px;}	
	.c3{
	background-image: url(img2/comedy/c3.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 25px;}	
	.c4{
	background-image: url(img2/comedy/c4.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 25px;}
/* comedy end */
/* sf start */
.sf1 , .sf2 , .sf3 , .sf4{
	width: 292px;
	height: 250px;
	border: solid 1px white;
	display: inline-block;
	border-radius: 25px;}
	.s1{
	background-image: url(img2/SF/s1.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 25px;}
	.s2{
	background-image: url(img2/SF/s2.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 25px;}	
	.s3{
	background-image: url(img2/SF/s3.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 25px;}	
	.s4{
	background-image: url(img2/SF/s4.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;	
	border-radius: 25px;}
/* sf end */
/*inside img start*/
.a1 , .a2 , .a3 , .a4 ,
.c1 , .c2 , .c3 , .c4 ,
.s1 , .s2 , .s3 , .s4 {
    padding: 50px;
    border: 1px solid white;
    padding-bottom: 173px;
    background-size: cover;
    margin: 40px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.h1 , .h2 , .h3 , .h4{
	padding: 50px;
    border: 1px solid white;
    padding-bottom: 96px;
    background-size: cover;
    margin: 40px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
/* inside end */
.logo{
	background-image: url(4.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
}
.a1 , .a2 , .a3 , .a4 ,
.c1 , .c2 , .c3 , .c4 ,
.s1 , .s2 , .s3 , .s4 ,
.h1 , .h2 , .h3 , .h4 ,
.p1 , .p2 , .p3 , .p4{
  transition: all 0.2s linear;
}
.a1:hover , .a2:hover , .a3:hover , .a4:hover ,
.c1:hover , .c2:hover , .c3:hover , .c4:hover ,
.s1:hover , .s2:hover , .s3:hover , .s4:hover ,
.h1:hover , .h2:hover , .h3:hover , .h4:hover ,
.p1:hover , .p2:hover , .p3:hover , .p4:hover{
  transform: scale(1.2);
}