@charset "UTF-8";

a{color: black; text-decoration: none; /* 밑줄 제거 */}
body{background-color: #f5f6f7;}
*:focus{outline: none;} /* 커서가(포커스) 있을경우 테두리 제거 */
/* 레이아웃 */
.main_signup{ 
	width: 460px;
	margin: 0 auto; /* 가운데정렬 */
	text-align: center;
}
.img{height: 50px; margin-top: 40px; padding: 20px;
}
h3{
	text-align: left;
	font-size: 14px;
	font-family:'돋움';
}
.signup_input{
	display: flex;
	padding: 10px;
	border: solid 1px #dadada;
	background-color: #ffffff;
}
#signup_id , #signup_pw , #signup_repw{
	height: 30px; /*높이 길이*/
	border: none; /**/
	width: 100%; /**/
}
.signup_at{
	font-size: 15px;
	margin-top: 5px;
	color: #8e8e8e;
}
.signup_lock{
	background-image: url("https://static.nid.naver.com/images/ui/join/m_icon_pw_step.png");
	width: 24px; height: 24px;
	background-size: 125px 75px;
	margin-top: 5px;
	top: 50%;
	right : 10px;
}

#signup_name , #signup_gender , #signup_email , #signup_county , #signup_phone , #signup_num{
	width: 100%; height: 30px;
	border: none;
}
.birthbox{
	display: flex;
}
.signup_input_birth{
	display: block; width: 100%; height: 50px;
	background-color: white;
	box-sizing: border-box;
	padding: 10px;
	border: solid 1px #dadada;
}
#signup_birth_yy , #signup_birth_mm , #signup_birth_dd{
	width: 120px; height: 30px; border: none; 
}
.choice{
	display: flex;
}
.choice span{
	font-size : 12px;
	font-family: '돋움';
	margin-top: 15px;
	color: #8e8e8e;
}
/* 휴대전화 */
.phonebox{  /* 전화번호 입력 , 인증번호 버튼 -> 가로 배치  */
	display: flex; 
	margin: 10px 0px;
}
.phoneinput{
	width: 100%;
}
.signup_btn{ /*인증번호 받기 박스*/
	height: 54px;
	background-color: #03c75a;
	margin : 0 0 0 10px;
	line-height: 50px;
}
#num_btn{ /* 인증번호 버튼*/
	width: 120px;
	background-color: #03c75a;
	border: none; color: #ffffff;
	font-size : 15px;
}
.signup_btn_warp{ /* 가입하기 박스 */
	margin-top: 20px; margin-bottom : 30px;
	height: 52px;
	background-color: #03c75a;
	line-height: 50px;
}
#signup_btn{ /* 가입하기 버튼 */
	width: 100%;
	background-color: #03c75a;
	border: none; color: #ffffff;
	font-size: 18px;
}
#disiblebox{
	background-color: #fafafa;
}
.ft_box{
	font-size: 10px;
}
a:hover{
	color: #03c75a;
}
